@charset "utf-8";
* {
  margin:0;
  padding:0;
}
body{
	width: 100vw;
	overflow-x: hidden;
	background-color: #222;
}
img{
	vertical-align: bottom;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
h1{
	font-family: "M PLUS Rounded 1c";
	letter-spacing: 5px;
}
.section_works h2{
	font-family: "M PLUS Rounded 1c";	
}
.section_how h2{
	font-weight: 300;
}
/* ロゴのロード */
.load{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100000000000;
	text-align: center;
	width: 100vw;
	height: 100vh;
	background-color: #111;
}
.logo{
	animation:logo_anime 2s forwards;
    z-index: 100000000000;
	opacity: 0;
	position: relative;
	top: 50%;
	width:50%;
	width: 20%;
}
.logo_anime{
	animation:logo_anime 2s forwards;
}
@keyframes logo_anime{
	0%{
		opacity: 0;
	}
	50%{
		transform: scale(1);
		opacity: 1;
	}
	100%{
		transform: scale(1.1);
		opacity: 0;
	}
}
.load_none{
	display: none;
}
/*見た目を整えています*/
.menu{
	width: 100vw;
	height: 100vh;
	display: none;
	position: fixed;
	z-index: 30000000;
	top: 0;
	left: 0;
	background-color: #fff;
	padding: 14vh 0 0 0;
	opacity: 0;
}
.menu li{
	font-size: 8vw;
	padding: 1.2vh 0 1.2vh 0;
	margin: 2.4vh 6%;
}
.menu li span{
	margin: auto 15px auto auto;
	color: #333;
	font-size:12px;
}
.menu a{
	color: #000;
	text-decoration: none;
}
/* ボタンの見た目 */
.btn_wrap{
	mix-blend-mode: exclusion;
	position: fixed;
	z-index: 400000000;
	right: 0;
	margin:2vh 0 4vh auto;
	width: 18vw;
}
.btn{
	z-index: 400000000;
	position: absolute;
	width: 18vw;
	height: 18vw;
}
.btn2{
	z-index: 400000000;
	transform: scale(0.7);
	position: absolute;
	width: 18vw;
	height: 18vw;
	opacity: 0;
}

/* ボタン切り替えアニメーション */
.btnout{
	animation: btnout 0.5s forwards;
}
@keyframes btnout{
	100%{
		opacity: 0;
		transform: scale(0.1);
	}
}
.btnchange{
	animation: btnchange 0.5s forwards;
}
@keyframes btnchange{
	100%{
		opacity: 1;
		transform: scale(1);
	}
}

/*メニュー展開時のアニメーション*/
.over{
	display: block;
	animation: overmenu 0.4s forwards;
}
@keyframes overmenu{
	0%{opacity: 0;}
	100%{opacity: 1;}
}


/* メイン */
.section_video{
	position: relative;
	height: 100vh;
}
.concept_min{
	position: fixed;
	left: 10vw;
	top: 32vh;
	z-index: 300;
	font-size: 12px;
}
.concept_min span{
	color: #fff;
	margin:0 0 0 6px;
	position: relative;
	bottom: -4vh;
}
.concept_min_box{
	position: relative;
	height: 40px;
	background-color: #222;
}
.anime_span{
	animation:title 0.8s forwards;
}
@keyframes title{
	0%{
		bottom: -4vh;
	}
	100%{
		bottom: 0.2vh;
	}
}
.anime_box{
	opacity: 0;
}
/* 唯一無二の作品を */
.concept{
	position: fixed;
	z-index: 500;
	top: 12vh;
	left: 10vw;
}
.concept_text{
	/* opacity: 0; */
	transform: translateY(0);
	font-size: 36px;
	position: relative;
	color: #fff;
}
/* ビデオ */
.video_wrap{
	position: fixed;
	z-index: 90;
	top: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	left: -100vw;
	transition: 1s;
}
.sea{
	position: absolute;
	z-index: 80;
	left: -80%;
	height: 100vh;
}

.video_top{
	position: relative;
	z-index: 100;
	width: 100vw;
	height: 40vh;
	background-color: #222;
}
.black_back,
.gray_back{
	transition: 1s;
	position: absolute;
	top: 0;
	height: 200vh;
	width: 100vw;
	left: -130vw;
}
.black_back{
	background-color: rgba(17,17,17,0.5);
}
.gray_back{
	background-color: rgba(51,51,51,0.5);
}
.video_slide{
	left: 0;
}


/* sectionが入る */
.section_catch,
.section_works,
.section_how,
.section_impact{
	position: relative;
	z-index: 600;
vertical-align: bottom;
background-color: #fff;
}
.section_catch{
	overflow: hidden;
	text-align: center;
	width: 100vw;
	height: 60vh;
	padding: 120px 0;
}
.section_catch p{
	background-color: #fff;
	line-height: 32px;
	font-size: 18px;
}
.section_catch p:first-child{
	border-bottom: 1px solid #000;
	display: inline-block;
	padding: 5px 0 8px 5px;
	margin: 0 0 24px 0;
}
.section_catch p:nth-of-type(2){
	width: 80%;
	margin: 0 10% 32px 10%;
}

.section_catch a{
	background-color: #fff;
	font-size: 24px;
	color: #000;
	padding: 8px 0;
	display: block;
	width: 50%;
	margin: 0 25%;
	border: 1px solid #000;
}
.section_catch p,
.section_catch a{
	position: relative;
	z-index: 100;
}
.section_catch img:not(:last-child){
	position: absolute;
	z-index: 50;
}
.h_large{
	bottom: 10vh;
	right: -17vw;
	transform: rotate(10deg);
}
.h_medium{
	bottom: 3vh;
	left: 5vw;
	transform: rotate(45deg);
}
.h_small{
	top: 7vh;
	left: -12vw;
	transform:rotate(-10deg);
}
.catch_logo{
	padding: 8px;
	background-color: #fff;
	position: relative;
	z-index: 60;
	width: 20%;
	margin: 42px 40%;
}

/* セクションボタン */
.section_btn{
	text-align: center;
	position: relative;
	z-index: 600;
height: 180px;
width: 100vw;
background-color: rgba(200,200,200, 1);
}
.section_btn a{
	background-color: #fff;
	color: #000;
	width: 50%;
	padding: 35px 20%;
	font-size: 24px;
	position: relative;
	top: 70px;
	border: 1px solid #000;
}
.section_btn a span{
	margin: 0 0 0 10px;
}

/* セクションワークス */
.section_works{
	padding: 0 0 5vh 0;
}
.section_works h1,
.section_how h1{
	padding: 20vh 0 0 0;
	border-bottom: 1px solid #000;
	line-height: 42px;
	margin: 0 0 0 8%;
}
.section_works h1 span,
.section_how h1 span{
	margin: 0 0 0 16px;
}
.wedding{
	width: 86%;
	margin: 32px 7% 16px 7%;
}
.section_works h2{
	margin: 0 0 0 8%;
	letter-spacing: 3px;
}
.section_works h2 span{
	margin: 0 5px 0 0px;
	color: #ff0000;
}
.section_works a{
	position: relative;
	top: -30px;
	display: inline-block;
	padding: 50px 0 0 0;
	height: 40px;
	 width: 40%;
	 margin: 0 0 0 50%;
	color: #000;
	border-bottom: 1px solid #000;
	background: url(./images/h_rotate.png)60px 22px/100px 100px no-repeat;
}

/* セクションハウトゥ */
.section_how{
	padding: 10vh 0 10vh 0;
}
.section_how h2{
	margin: 12px 0 12px 15%;
	border-bottom:1px solid #000;
	display: inline-block;
}
.how_wrap{
	left: 50%;
	transform: translateX(-50%);
	width: 300px;
	height: 230px;
	overflow: hidden;
	text-align: center;
	position: relative;
}
.how_wrap:nth-of-type(2){
	margin: 32px 0 0 0;
}

.gray_over{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 300px;
	height: 230px;
	background-color: #333;
	transition: 1s;
	top: 0;
}
.gray_up{
	top: -240px;
}
.section_how img{
	width: 300px;
}
.section_how p{
	margin: 0 15%;
}

/* セクションインパクト */
.section_impact{
	width: 100vw;
	overflow: hidden;
	height: 50vh;
	text-align: center;
}
.section_impact p{
	width: 50%;
	margin: 12px 25%;
	position: relative;
	top: 30px;
	padding: 5px 8px;
	z-index: 100;
	font-size: 24px;
	background-color: #fff;
}
/***************************************************
 * Generated by SVG Artista on 12/21/2020, 2:14:47 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/


  @keyframes animate-svg-stroke-1 {
	0% {
	  stroke-dashoffset: 5000px;
	  stroke-dasharray:5000px;
	}
  
	100% {
	  stroke-dashoffset: 0;
	}
  }
  svg{
	position: absolute;
	z-index: 10;
	bottom: 0;
	right: 0;
	transform: rotate(45deg);
  }
  .svg-elem-1 {
			animation: animate-svg-stroke-1 2s linear 0.5s both;
  }
  
.section_impact img{
	width: 30%;
	margin: 42px 0 0 0;
	position: relative;
	z-index: 20;
}

footer{
	text-align: center;
	position: relative;
	padding: 32px 0;
	z-index: 700;
	height: 15vh;
	background-color: #333;
}
.footer_menu{
	color: #aaa;
}
.footer_menu li{
	box-sizing: border-box;
	display: inline-block;
	width: calc( 100% / 3 );
	font-size: 18px;
	margin: 8px 0;
}

@media screen and (max-width:900px) {
}
@media screen and (min-width:901px) {
}

